<h1>
  yo this should be working {{wow}}!!!!
</h1>

{{#each articles}}
  <div class="row">
    <div class="col-sm-12">
      <h2>
        <a href={{this.link}}>
          {{this.title}}
        </a>
      </h2>
      <p>
        {{this.summary}}
      </p>
      <div>
        <button class="btn-success save-article" data-id={{this._id}}>
          save
        </button>
      </div>
    </div>
  </div>
  <hr>
{{/each}}